body {
  background: #0b1220;
  color: #e5e7eb;
  font-family: monospace;
}

.header {
  padding: 10px;
  background: #020617;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 6px;
  border-bottom: 1px solid #1e293b;
}

.HIGH { color: orange; }
.CRITICAL { color: red; }
.MEDIUM { color: #38bdf8; }